<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
      upNext - Index
    </title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet">
  
    <link href="css/screen-e052b49956.css" rel="stylesheet">
</head>

    <link href="../public/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-bottom: 40px;
      }

      .container-narrow {
        margin: 0 auto;
        max-width: 900px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      .jumbotron {
        margin: 0;
        text-align: center;
        background-image:url('img/jumbotron.png');
      }
      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
        color:#ffffff;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }
  
      .hero-unit h1{
      font-size: 70px;
      light-height: 1;
      }

      .marketing {
        margin: 60px 0;
      }
    
      .muted {
      color: #777;
      }

      .text-center {
        color: #ffffff;
      }
    
    </style>
    <link href="../public/css/bootstrap-responsive.css" rel="stylesheet">
  
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="screen-e052b49956.html">upNext</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="screen-e052b49956.html">Home</a>
            </li>
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#contact">Contact</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Action</a>
                </li>
                <li>
                  <a href="#">Another action</a>
                </li>
                <li>
                  <a href="#">Something else here</a>
                </li>
                <li class="divider">
                </li>
                <li class="dropdown-header">
                  Nav header
                </li>
                <li>
                  <a href="#">Separated link</a>
                </li>
                <li>
                  <a href="#">One more separated link</a>
                </li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right" method="">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">
              Sign in
            </button>
          </form>
        </div>
        
      </div>
    </div>
    
    <div class="jumbotron">
      <div class="container">
        <h1 class="text-center" ="#ffffff">
          The smartest waitlist ever.
        </h1>
        <p class="text-center">
          We wait.
          <b>You explore</b>
          .
        </p>
        <p>
        </p>
      </div>
      <br>
      <a class="btn btn-primary btn-lg" align="center">Get Started Today &raquo;</a>
    </div>
    <div class="container">
      
      <div class="row">
        <div class="col-md-4">
          <h2>
            Check-in &amp; walk away
          </h2>
          <p>
            No need to wait in a line or stay nearby businesses. Simply check-in yourself
            using upNext and we will notify you when they are ready.
          </p>
          <p>
            <a class="btn btn-default" href="#">View details »</a>
          </p>
        </div>
        <div class="col-md-4">
          <h2>
            Real-time wait time update
          </h2>
          <p>
            Tired of waiting until your pager rings? upNext will give you accurate
            approximate wait time including how many parties are ahead of you.
          </p>
          <p>
            <a class="btn btn-default" href="#">View details »</a>
          </p>
        </div>
        <div class="col-md4" style="display: block;">
          <h2>
            Get the best deal from businesses
          </h2>
          <p>
            We all love to have a good time and spend less money as possible. When
            you check-in to a business, upNext will display current deals or happy
            hour, or you can always check them online.
          </p>
          <p>
            <a class="btn btn-default" href="#">View details »</a>
          </p>
        </div>
      </div>
      <hr>
      <footer>
        <p>
          © Company 2013
        </p>
      </footer>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
    >
    </script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"
    >
    </script>
  </body>

</html>