#footer
  div(align='center') Copyright @ upNext #{+new Date().getFullYear()}  
  div(align='center')
    a(href='/page?name=about') About
    | |
    a(href='page?name=contact') Contact Us
    | |
    a(href='page?name=career') Career
