!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='../../assets/ico/favicon.png')
    title
      | upNext - DashBoard
    link(href='https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css', rel='stylesheet')
    link(href='css/user_dashboard.css', rel='stylesheet')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .span
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
            img(src='img/logo.png', alt='logo', width='80', height='33')
        form.navbar-form.navbar-right
          .btn-group
            button.btn.btn-sucess(type='button') #{user.username}
            button.btn.btn-sucess.dropdown-toggle(type='button', data-toggle='dropdown')
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href='#') something
              li
                a(href='#') something
              li
                a(href='#') Settings
              li.divider
              li
                a(href='/logout') Sign out
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
          form.navbar-form.navbar-left(role='search')
            .form-group
              input.form-control(type='text', placeholder='Search')
            button.btn.btn-default(type='submit') Submit
    // /.nav-collapse
    .container
      .row
        .starter-template
          #sidebar.col-xs-10.col-sm-2.sidebar-offcanvas(role='navigation')
            .well.sidebar-nav
              ul.nav
                li.active
                  a(href='#') My Waitlist
                li
                  a(href='#') Favorites
                li
                  a(href='#') Recents
                li
                  a(href='#') Nearby
                li
                  a(href='#') Recommended
                li
                  a(href='/api/queue') Queue
            // /.well
          // /span
          .col-md-4
            a.thumbnail(href='/api/queue')
              h3 Tasty Meat
              p Total: 3 parties 
              p Estimate Wait Time: 20 minutes
              a
                button.btn-success Queue Me!
    // /.container
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
